var path = require('path'),
    webpack = require('webpack');

module.exports = {
  devtool: 'inline-source-map',
  entry: './assets/scripts/gateway.js',
  output: {
    path: __dirname + '/',
    filename: 'mashup.js'
  },
  module: {
    loaders: [
      {
        test: /\.js?$/,
        exclude: [ 'node_modules' ],
        include: path.join(__dirname, '/'),
        loaders: [ 'babel' ]
      }
    ]
  },
  plugins: new webpack.optimize.OccurenceOrderPlugin(),
};
