footer
  width: 100%
  background: $rouge
  position: fixed
  bottom: 0

  .footer_title
    font-family: $body-font
    color: $light
    font-size: 22px
    display: inline-block
    margin: 8px 0 5px 3%
    line-height: 1.4


  .footer_address
    font-family: $body-font
    color: $light
    font-size: 14px
    border: 1px solid $light
    padding: 3px 10px
    margin: 0 0 5px 30px
    display: inline-block
    letter-spacing: 1px
    font-weight: 300
